# Xcode
xcuserdata
.swiftpm
.build
xcuserdata

# Kotlin
*.iml
.gradle
/local.properties
.idea
/build
*/build
/captures
.externalNativeBuild
.cxx

# Yarn
**/.yarn/*
!.yarn/releases
!.yarn/plugins
**/.pnp.*
Extension/schemas/*.js
