# Xcode
xcuserdata
.swiftpm
.build
xcuserdata

# Kotlin
.kotlin
*.iml
.gradle
/local.properties
.idea
/build
*/build
/captures
.externalNativeBuild
.cxx

# NPM
node_modules
validators.js

# direnv
.direnv
