#include "../App.xcconfig"

SUPPORTED_PLATFORMS = iphoneos iphonesimulator xros xrsimulator

INFOPLIST_FILE = App/iOS/App-iOS-Info.plist
CODE_SIGN_ENTITLEMENTS = App/iOS/App-iOS.entitlements

INFOPLIST_KEY_UIApplicationSupportsIndirectInputEvents = YES
INFOPLIST_KEY_UILaunchStoryboardName = LaunchScreen
INFOPLIST_KEY_UISupportedInterfaceOrientations_iPad = UIInterfaceOrientationPortrait UIInterfaceOrientationPortraitUpsideDown UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight
INFOPLIST_KEY_UISupportedInterfaceOrientations_iPhone = UIInterfaceOrientationPortrait UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight

TARGETED_DEVICE_FAMILY = 1,2
